<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/hub.css" type="text/css"/>


<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1><span id="name"></span></span> - <span id="level"></span></h1>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h1 class="pull-right"><i class="fa fa-usd" aria-hidden="true"></i><span id="coins"></h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron"><h3 id="riddle"></h3></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 text-center">
			<input type="text" class="form-control" id="submit-answer" placeholder="What's the answer?"></input>
			<button type="submit" id="answer"><h4><i class="fa fa-hand-o-down" aria-hidden="true"></i><div> Submit</div></h4></button>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

<!--
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Login</h1>
			<input type="text" class="form-control" placeholder="test password">
			<button class="btn btn-primary" id="login">Login</button>
		</div>
		<div class="col-md-6">
			<h1>Register</h1>
			<form id="register">
				<div class="form-group">
			    	<label for="register-name">Your Name</label>
			    	<input type="text" class="form-control" id="register-name" required>
				</div>
				<div class="form-group">
			    	<label for="register-email">Email address</label>
			    	<input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" required>
				</div>
				<div class="form-group">
			    	<label for="register-password">Password</label>
			    	<input type="password" class="form-control" id="register-password" required>
			  	</div>
			  	<input type="submit" class="btn btn-primary" value ="Register"></input>
			</form>
		</div>
	</div>
</div>
-->

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/scripts/hub.js"></script>