<link rel="stylesheet" href="/css/login.css" type="text/css" />

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Login</h1>
			<form id="login">
				<div class="form-group">
			    	<label for="login-email">Email address</label>
			    	<input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" required>
				</div>
				<div class="form-group">
			    	<label for="login-password">Password</label>
			    	<input type="password" class="form-control" id="login-password" required>
			  	</div>
			  	<input type="submit" class="btn btn-primary" value="Login"></input>
			</form>
			<div class="alert alert-danger" role="alert" id="login-error">
			</div>
		</div>
		<div class="col-md-6">
			<h1>Register</h1>
			<form id="register">
				<div class="form-group">
			    	<label for="register-name">Your Name</label>
			    	<input type="text" class="form-control" id="register-name" required>
				</div>
				<div class="form-group">
			    	<label for="register-email">Email address</label>
			    	<input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" required>
				</div>
				<div class="form-group">
			    	<label for="register-password">Password</label>
			    	<input type="password" class="form-control" id="register-password" required>
			  	</div>
			  	<input type="submit" class="btn btn-primary" value ="Register"></input>
			</form>
			<div class="alert alert-danger" role="alert" id="register-error">
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/scripts/login.js"></script>
<script src="/scripts/result.js"></script>