
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/login.css" type="text/css"/>

<div class="container">
	<br><br>
	<div class="row">
		<div class="col-md-5 block login-block">
			<img src="/images/default_user.png" class="user">
			<h2 style="text-align:center">Log In Here</h2>
			<form id="login">
				<div class="form-group">
			    	<label for="login-email">Email address</label>
			    	<input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" placeholder="Enter Email" required>
				</div>
				<div class="form-group">
			    	<label for="login-password">Password</label>
			    	<input type="password" class="form-control" id="login-password" placeholder="**********" required>
			  	</div>
			  	<input type="submit" class="purple" value="Sign In"></input>
				<br><a href="#" id="new-user">New User?</a>
			</form>
			<div class="alert alert-danger" role="alert" id="login-error">
			</div>
		</div>
			<div class="col-md-2"></div>
		<div class="mdl-cont">
		<div class="col-md-5 block register-block mdl">
			<a href="#" class="close">X</a>
			<h1 style="text-align:center">Sign Up Free!</h1>
			<form id="register">
				<div class="form-group">
			    	<label for="register-name">Your Name</label>
			    	<input type="text" class="form-control" id="register-name" required>
				</div>
				<div class="form-group">
			    	<label for="register-email">Email address</label>
			    	<input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" required>
				</div>
				<div class="form-group">
			    	<label for="register-password">Password</label>
			    	<input type="password" class="form-control" id="register-password" required>
			  	</div>
			  	<h2><input type="submit" class="purple" value="Register"></input></h2>
			</form>
			<div class="alert alert-danger" role="alert" id="register-error">
			</div>
		</div>
		</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#new-user").click(function(){
        $(".login-block").slideUp("slow");
        $(".mdl-cont").slideDown("slow");
    });
    $(".close").click(function(){
        $(".login-block").slideDown("slow");
        $(".mdl-cont").slideUp("slow");
    });

})
</script>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/scripts/login.js"></script>