
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/css/leaderboard.css" type="text/css"/>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered text-center">
				<thead class="text-center">
					<tr class="tet-center">
						<td><h3><b>Rank</b></h3></td>
						<td><h3><b>Name</b></h3></td>
						<td><h3><b>Level</b></h3></td>
						<td><h3><b>Coins</b></h3></td>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="/scripts/leaderboard.js"></script>