body
{
	color:#5c0087;
}

.jumbotron
{
	background: #5c0087;
	box-shadow: 0px 10px 10px rgb(0, 0, 0, 1);
	color: white;
}

button
{
	margin-top:30px;
	background-color: white;
	color:#5c0087; 
	border: 1px solid #5c0087;
	border-color: #5c0087;
	border-radius: 7px;
	padding-left:10px;
	width:100%;
}

#answer:hover
{
	box-shadow: 0px 10px 10px #5b5b5b;
	background-color: #5c0087;
	border:none;
	border-color: #510077;
	color: white;
}

#leaderboard:hover
{
	box-shadow: 0px 10px 10px #5b5b5b;
	background-color: #0ccc00;
	border:none;
	border-color: #510077;
	color: white;
}

p
{
	font-size: 20px;
}

#correct
{
	display: none;
}

#wrong
{
	display: none;
}

#submit-answer
{
	border-color: #5c0087;
}
